@import "tailwindcss";

html,
body {
    background-color: #f8fafc;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-modal {
    animation: modal 0.2s ease-out;
}